<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
   
    <link rel="stylesheet" href="/public/free.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <title>NewGen</title>
    
  </head>



 
      
    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
        <a class="navbar-brand mb-3" href="#">
          <img src="/images/logo.png" width="80px" height="50px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
         


         
            </li>
            <a class="nav-link btn btn-outline-success" style="margin-right:20px" href="/usrpg/<%=usr._id%>">Userpage</a>
            <a class="nav-link btn btn-outline-info" href="/about/<%=usr._id%>">About</a>
          
            

          </ul>
            
        
          
        </div>
      </nav>
<body style="background-image: url('https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1962&q=80');background-repeat: no-repeat;background-size: cover;">
      <div class="container mt-5">

        <img src="/images/logo.png">
        <h3>
             <small class="text-muted">About Us</small>
        </h3>
        <h5>
          <em><b>The leading global marketplace for learning and instruction</b></em>
          <br>
          By connecting students all over the world to the best instructors, NewGen is helping individuals reach their goals and pursue their dreams.

        </h5>

        <h8>
          <b><q>
          Staying ahead of the future of work
          </q>
          </b>
          <br>
          NewGen helps organizations of all kinds prepare for the ever-evolving future of work. Our curated collection of top-rated business and technical courses gives companies, governments, and nonprofits the power to develop in-house expertise and satisfy employees’ hunger for learning and development.
        </h8>
        <video controls width="25%" style="padding-top: 60px;">
          <source src="/public/images/Video.mp4" type="video/mp4"  >
        </video>
        
                 </div>

                

      </body>

  </html>

            
     
          





