    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <style>
            #hf1{
                display: inline-block;margin-left: 60px;margin-right: 100px;
            border-style:groove;padding-top: 40px;
            
            }
            #hf2{
                display: inline-block;
            }
        </style>
    </head>
       
    <body>
        <div id="hf1">
            <img src="images/learn.jpg" width="500px" >
        <br>
        <h2>this is a drill</h2>
        </div>    
    <div id="hf2">
        <img src="images/woman_photo1.jpeg" width="580px">
        <h2>i repeat this is a drill</h2>
    </div>
     
    </body>
    </html>