<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
    <link rel="stylesheet" href="custom.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="free.css" >
    
    <title>NewGen</title>
    
  </head>




      
    <nav class="navbar navbar-expand-lg navbar-light bg-white" >
        <a class="navbar-brand mb-3" href="#">
          <img src="/images/logo.png" width="80px" height="50px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
         


          <ul class="navbar-nav mr-auto container-fluid">
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-list-ul"></i> Courses
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/freec">Free Courses</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/paid">Paid Courses</a>
                <div class="dropdown-divider"></div>
                
              </div>
            </li>
            <a class="nav-link btn btn-outline-success" style="margin-right:20px" href="/hmp">Home</a>
            <a class="nav-link btn btn-outline-info" href="/about">About</a>
          

            

          </ul>
            
          <a style="margin-right: 15px;"class="nav-link btn btn-outline-success" href="/login">Login</a>
          <a class="nav-link btn btn-success mx-2" href="/reg">Signup</a>
          
        </div>
      </nav>

            
     
      <body style="background-image: url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1093&q=80');background-repeat: no-repeat;background-size:cover;">





    <div class="container mt-5" style="background-image:url(https://cdn.hipwallpaper.com/i/22/15/BAVU3F.jpg);">
        <h3>
             <small class="text-muted">Free Courses</small>
           </h3>
         <div class="card-deck" >
               
                 <div class="card mx-1 shadow-sm">
                    <span class="badge  badge-warning w-50 mt-2" style="position: absolute; z-index:3"></span>

                   <img class="card-img-top h-50"    src="https://miro.medium.com/max/570/1*W1OfcyPLUcbaUyOPp89M8A.png" alt="Card image cap">
                   <div class="card-body px-2">
                     <h6>Basic Programming</h6>
                     
                     
                   </div>
                 </div>

               
                 <div class="card mx-1 ">
                     <img class="card-img-top h-50"    src="https://blog.arkieva.com/wp-content/uploads/2015/07/NETWORKING.jpg" alt="Card image cap">
                     <div class="card-body px-2">
                       <h6>Networking Basics</h6>
                       
                       
                     </div>
                   </div>
                   
          
                   <div class="card mx-1 ">
                      <span class="badge  badge-warning w-50 mt-2"
                        style="position: absolute; z-index: 3"
                      ></span>

                       <img class="card-img-top h-50"    src="https://images.martechadvisor.com/images/uploads/content_images/animaker_to_launch_animaker_20_a_new_video_creation_platform_for_marketers_5d89f07ad2951.jpg" alt="Card image cap">
                       <div class="card-body px-2">
                         <h6>Video Creation</h6>
                         
                        
                       </div>
                     </div>
 
 </body>

</html>
